.buttonClear{
    width: 10%;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;   
    background-color: rgba(0, 128, 0, 0.589);
    color: white;
}

.buttonClear:hover{
    transform: scale(1.03);
    background-color: white;
    color: black;
    cursor: pointer;
}

.buttonClear:disabled{
    cursor: not-allowed;
    background-color: #888;
  }